.heading{
    text-align: center;
}

.wrapper{
    width: 80%;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .player, .computer{
        border: 2px solid black;
    }

    .play{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

.container{
    width: 6rem;
    height: 6rem;
    border: 2px solid black;
    text-align: center;
    i{
        font-size: 5rem;
        margin-top: 5px;
    }
}

.player-button{
    cursor: pointer;
}

.selected{
    transform: scale(1.5);
    transition: all .5s ease;
}


.active{
    transform: scale(1.2);
}

.restart-button{
    text-align: center;
}

.game{
    font-size: 1.6rem;
}